.wrapper {
  font-family: 'Ma Shan Zheng', cursive;
  background-color: rgba(204, 185, 185, 0.1);
  height: 100vh;

  :global {
    .rc-md-editor {
      background-color: transparent !important;
    }
  }

  table * {
    font-family: sans-serif;
  }
}

.scroll {
  overflow-x: hidden;
  height: calc(100% - 8px);
  padding: 0 20px;
}

.item {
  padding: 6px 8px;
}
