.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    padding: 24px;
    height: 100px;

    :global {
      .ant-input {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
      }
      .rc-md-navigation {
        position: sticky;
        top: 0;
      }
    }
  }

  .control {
    padding: 6px 10px;
    background-color: #fff;
  }
  .markdown {
    flex: 1;
    height: calc(100% - 100px);
  }
  .switch {
    width: 110px;
  }
}
