.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .row {
    display: flex;
    align-items: center;
  }
  .header {
    padding: 24px 24px 4px;
    flex-shrink: 0;
    height: 115px;

    :global {
      .ant-input {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
      }
      .rc-md-navigation {
        position: sticky;
        top: 0;
      }
    }
  }

  .control {
    padding: 6px 10px;
    background-color: #fff;
  }
  .markdown {
    // flex: 1;
    height: calc(100% - 115px);
  }
  .switch {
    width: 110px;
  }
  .secure_mode_text {
    font-size: 13px;
    color: #7d7d7d;
    text-align: center;
  }
}
