.container {
  margin: 8px 0;
  position: relative;
  font-size: 13px;
}

.avatar {
  position: absolute;
  left: 0;
  top: 0;
}

.main {
  padding: 3px 0px 6px 38px;
}
.user-info {
  display: inline-flex;
  margin-right: 9px;
}
.name {
  margin-right: 5px;
}

.content {
  font-size: 15px;
  color: #18191C;
}

.extra {
  color: #9499A0;
  font-size: 13px;
  margin-top: 8px;
}
.time {
  margin-right: 12px;
}
.contributor {
  color: #FB7299;
}