.wrapper {
  display: flex;
  position: relative;

  main {
    padding-right: 26px;
  }
}

.date {
  flex-shrink: 0;
  width: 90px;
}

.more {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  cursor: pointer;
}

.op {
  margin-bottom: 8px;
}
