.wrapper {
  display: flex;
  position: relative;
  padding-top: 30px;

  main {
    padding-right: 26px;
    flex-grow: 1;
  }
}

.date {
  flex-shrink: 0;
  width: 90px;
}

.extra {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.more {
  cursor: pointer;
}

.op {
  margin-bottom: 8px;
}

.time {
  font-size: 13px;
  color: #7d7d7d;
}

.viewer {
  :global {
    .editor-container > .section > .section-container {
      padding: 0 !important;
    }
  }
}

.divider {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: #eee;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
